<h1>Author Zone</h1>

<div>
    <form action="/player/enter-data" method="POST">
        <input type="text" name="name" required placeholder="Name">
        <input type="date" name="born" required placeholder="Born">
        <input type="text" name="birthplace" required placeholder="Birth Place">
        <input type="text" name="nickname" required placeholder="Nickname">
        <input type="text" name="role" required placeholder="Role">
        <input type="text" name="battingstyle" required placeholder="Batting Style">
        <input type="text" name="bowlingstyle" required placeholder="Bowling Style">
        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <h2>Search Players</h2>
    <form action="/player/search-player" method="POST">
        <input type="text" name="name">
        <input type="submit" value="Search">
    </form>

    <div>
        <% if(locals.players){ %>
            <% for(player of locals.players){ %>
                <p><a href="/stats/<%= player._id %>"><%= player.name %></a></p>
            <% } %>
        <% } %>
    </div>
</div>